*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
    box-sizing: border-box;
}
.header{
    background-color: White;
    
}
.contact-head{
    height: 300px;
    margin-top: 100px;
}
.contact-head .backImage{
    height: 300px;
    background-image: url("../assets/images/Contact-design.jpg");
    background-position: center;
    position: relative;
    opacity: 0.2;
}
.contact-content{
    position: absolute;
    width: 100%;
    top: 120px;
    text-align: center;

}
.contact-content h1{
    font-size: 40px;
    color: #fcc900;

}
.contact-content p{
    font-size: 1 rem;
    margin-top: 10px;
    font-weight: 550px;
    color: #212529c8;
}

/* color :hsl(241, 77%, 63%)-blue */
/* colo: hsl(47, 100%, 69%) -yellow */

/* Get in touch Section  */
.get-in-touch{
    margin:50px 100px;
}
.get-in-touch h2{
    font-weight: bold;
    font-size: 32px;
    color: black;
    border-left: 5px solid hsl(47, 100%, 69%);
    padding-left: 20px;
}
.get-in-touch .git-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.git-container .git-box{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 30px 0;
}
.git-box#second-git-box{
    border-left: 5px solid hsl(47, 100%, 69%);
    border-right: 5px solid hsl(47, 100%, 69%);
    padding: 20px;
}
.git-box i{
    font-size: 50px;
    color: hsl(241, 77%, 63%);
    margin-bottom: 20px;
}
.git-box h3{
    color: hsl(241, 77%, 63%);
}

/* Contact form Section  */
.contact-form{
    margin: 50px 100px;
    display: flex;
}
.form-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;

}
.form-container h2{
    font-weight: bold;
    font-size: 28px;
    color: black;
    border-left: 5px solid hsl(47, 100%, 69%);
    padding-left: 20px;
}
.form-container p{
    color: #212529c8;
    margin-bottom:20px ;
    padding-left: 25px;
}
.form-container form{
    margin-left: 50px;
}
.contact-input{
    margin: 20px 0;
}
.contact-input input{
    border: none;
    outline: none;
    border-bottom: 3px solid hsl(241, 77%, 63%);
    padding:0 10px ;
}
.contact-input input:hover{
    border-bottom: 3px solid hsl(47, 100%, 69%);
}
.contact-input label{
    color: hsl(241, 77%, 63%);
    font-size: 20px;
    font-weight: bold;
}
.contact-input label:hover{
    color: hsl(47, 100%, 69%);
}
.contact-button{
    margin-top: 40px;
    width: 150px;
    background-color: hsl(241, 77%, 63%);
    border-radius: 20px;
    border:  2px solid hsl(241, 77%, 63%);
    font-weight: bold;
    color: white;
}
.contact-button:hover{
    background-color: hsl(47, 100%, 69%);
    color: hsl(241, 77%, 63%);
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-media img{
    width: 400px;
    height: 400px;
}
@media(max-width:1000px){
    .contact-form{
        flex-direction: column;
        margin: 20px;
    }
    .form-container{
        width: 90%;
    }
    .social-media{
        margin-top: 40px;
    }
}
@media(max-width:400px){
    .get-in-touch{
        margin:50px 20px;
    }
    .get-in-touch h2{
        font-size: 25px;
    }
    .get-in-touch .git-container{
        flex-direction: column;
    }
    .git-box#second-git-box{
        border: none;
        border-bottom: 5px solid hsl(47, 100%, 69%);
    }
    .git-box{
        border-bottom: 5px solid hsl(47, 100%, 69%);
        padding: 20px;
    }
    .git-container .git-box{
        width: 90%;
    }
    .contact-form{
        flex-direction: column;
        margin: 20px;
    }
    .form-container{
        width: 90%;
    }
    .form-container form{
        margin-left: 10px;
    }
    .form-container h2{
        font-size: 20px;
    }
    .form-container p{
        font-size: 15px;
    }
    .social-media img{
        width: 300px;
        height: 300px;
        margin-left: 140px;
        margin-top: 30px;
    }
    .contact-content p{
        width: 350px;
    }
    .header{
        max-width: 375px
    }
}

